<p id="notice"><%= notice %></p>

<table class="table">
  <tbody>
  <% @stories.each do |s| %>
      <div class="">
        <div class="card-block">
          <h4 class="card-title"><%= s.title %></h4>
          <h6 class="card-subtitle mb-2 text-muted"><%= s.body.truncate(100) %></h6>
          <div class="story-links">
            <%= link_to 'Edit', edit_story_path(s) %>
            |
            <%= link_to 'Preview', edit_story_path(s) %></div>
        </div>
      </div>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path, class: 'btn btn-primary'%>

