<p id="notice"><%= notice %></p>

<p>
  <%= @story.title %>
</p>



<%= @story.genre %>


<p>
  <%= @story.body.html_safe %>
</p>

<p>
  <strong>User:</strong>
  <%= @story.user_id %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
