<p id="notice"><%= notice %></p>

<h2  class=" text-center"><%= @story.title %></h2>
<p class="text-center"><%= link_to "@#{@story.user.username }", user_path(@story.user) %></p>
<hr>



<%= @story.genre %>


<p>
  <%= @story.body.html_safe %>
</p>
<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
